<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Examples modules deployment list</title>
    <link rel="apple-touch-icon" sizes="180x180" href="static/learning_django/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/learning_django/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/learning_django/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="static/learning_django/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="static/learning_django/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <table>
        <thead>
            <th>Module</th>
            <th>Link</th>
        </thead>
        <tbody>
            <tr>
                <td>Administration Django</td>
                <td>
                    <ul>
                        <li>
                            <a href="{% url 'admin:index' %}" target="_blank">Admin</a>
                        </li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>Forms</td>
                <td>
                    <ul>
                        <li>
                            <a href="{% url 'learning_form:post_list' %}" target="_blank">Post manually</a>
                        </li>
                        <li>
                            <a href="{% url 'learning_form:author_list' %}" target="_blank">Author django views generic</a>
                        </li>
                        <li>
                            <a href="{% url 'learning_form:custom_field_parameter' %}" target="_blank">Show form custom field parameters</a>
                        </li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>Model managers</td>
                <td>
                    <ul>
                        <li>
                            <a href="{% url 'learning_manager:index_persons' %}" target="_blank">Persons managers</a>
                        </li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>Polls</td>
                <td>
                    <ul>
                        <li>
                            <a href="{% url 'polls:index' %}" target="_blank">Index manually</a>
                        </li>
                        <li>
                            <a href="{% url 'polls:generic_index' %}" target="_blank">Index generic</a>
                        </li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>Upload files</td>
                <td>
                    <ul>
                        <li>
                            <a href="{% url 'learning_upload:upload_list' %}" target="_blank">Upload files</a>
                        </li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>Generate pdf files</td>
                <td>
                    <ul>
                        <li>
                            <a href="{% url 'learning_wkhtmltopdf:pdf_index' %}" target="_blank">Pdf files</a>
                        </li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>Custom validators</td>
                <td>
                    <ul>
                        <li>
                            <a href="{% url 'learning_validator:validator_index' %}" target="_blank">Validators list</a>
                        </li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>Used timezone</td>
                <td>
                    <ul>
                        <li>
                            <a href="{% url 'learning_timezone:timezone_index' %}" target="_blank">Timezone list</a>
                        </li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>Used language</td>
                <td>
                    <ul>
                        <li>
                            <a href="{% url 'learning_language:language_index' %}" target="_blank">Language list</a>
                        </li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>Used logs</td>
                <td>
                    <ul>
                        <li>
                            <a href="{% url 'learning_log:log_index' %}" target="_blank">Log list</a>
                        </li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>Used send emails</td>
                <td>
                    <ul>
                        <li>
                            <a href="{% url 'learning_email:email_index' %}" target="_blank">Send email</a>
                        </li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>Environment values</td>
                <td>
                    <ul>
                        <li>
                            <a href="{% url 'learning_env:env_index' %}" target="_blank">Show env key => values</a>
                        </li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>Used asyncio</td>
                <td>
                    <ul>
                        <li>
                            <a href="{% url 'learning_asyncio:asyncio_index' %}" target="_blank">Examples used asyncio</a>
                        </li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>Used Rest Framework</td>
                <td>
                    <ul>
                        <li>
                            <a href="{% url 'rest_framework:login' %}" target="_blank">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'learning_rest_framework:user-list' %}" target="_blank">Users</a>
                        </li>
                        <li>
                            <a href="{% url 'learning_rest_framework:group-list' %}" target="_blank">Groups</a>
                        </li>
                        <li>
                            Snippet
                            <ul>
                                <li>
                                    <a href="{% url 'learning_rest_framework:snippet-list' %}" target="_blank">View set</a>
                                </li>
                                <li>
                                    <a href="/rest/api_view/snippets" target="_blank">@api_view</a>
                                </li>
                                <li>
                                    <a href="/rest/mixin/snippets" target="_blank">mixins</a>
                                </li>
                                <li>
                                    <a href="/rest/generic/snippets" target="_blank">generic</a>
                                </li>
                                <li>
                                    Permissions
                                    <ul>
                                        <li>
                                            <a href="/rest/permission/snippets" target="_blank">IsAuthenticatedOrReadOnly</a>
                                        </li>
                                        <li>
                                            <a href="/rest/permission_api_key/snippets" target="_blank">HasAPIKey</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Filters
                                    <ul>
                                        <li>
                                            <a href="/rest/filter/snippets/?ordering=-title&search=Test" target="_blank">filter and order</a>
                                        </li>
                                        <li>
                                            <a href="/rest/custom_filter/snippets" target="_blank">custom filter (title_only)</a>
                                        </li>
                                        <li>
                                            <a href="/rest/owner_filter/snippets" target="_blank">owner filter default</a>
                                        </li>
                                        <li>
                                            <a href="/rest/url_filter/snippets/?title__contains=Ad" target="_blank">Integration Django Url Filter (https://github.com/miki725/django-url-filter)</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Pagination
                                    <ul>
                                        <li>
                                            <a href="/rest/standar_pagination/snippets/" target="_blank">standar pagination (show 1 item per page)</a>
                                        </li>
                                        <li>
                                            <a href="/rest/large_pagination/snippets/" target="_blank">large pagination (show 2 item per page)</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            Format
                            <ul>
                                <li>
                                    <a href="/rest/manual/snippets.json" target="_blank">JSON</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>