
<table>
    <thead>
        <th>
            Validators
        </th>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="{% url 'learning_validator:validator_custom' %}">Validator custom. Only numbers between 1 and 10.</a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="{% url 'learning_validator:widget_custom' %}">Widget custom. Field char convert to component text area.</a>
            </td>
        </tr>
    </tbody>
</table>