Django==3.1.13
gunicorn==20.0.4
psycopg2-binary==2.8.5
# django_wkhtmltopdf==3.3.0
django_debug_toolbar==2.2.1
python-decouple==3.3
requests==2.24.0
# pandas==1.0.5
djangorestframework==3.11.0
Markdown==3.2.2
django_filter==2.3.0
bs4==0.0.1
Pygments==2.6.1
django_url_filter==0.3.15
djangorestframework_api_key==2.0.0
django_elasticsearch_dsl_drf==0.20.8
django-elasticsearch-debug-toolbar==2.0.0
django_rest_swagger==2.2.0