Django==3.0.8
gunicorn==20.0.4
psycopg2-binary==2.8.5
django_wkhtmltopdf==3.3.0
django_debug_toolbar==2.2
python-decouple==3.3
requests==2.24.0
pandas==1.0.5
djangorestframework==3.11.0
Markdown==3.2.2
django_filter==2.3.0
bs4==0.0.1
Pygments==2.6.1